<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Hidhaa Gabaaboo</h5>
                <ul class="list-unstyled quick-links">
                    <li><a routerLink="/wiirtuu" routerLinkActive="active"><i
								class="fa fa-angle-double-right"></i>Wiirtuu</a></li>
                    <li><a routerLink="/waayeekeenya" routerLinkActive="active"><i
								class="fa fa-angle-double-right"></i>Waa'ee Keenya</a></li>
                    <!-- <li><a href="#"><i class="fa fa-angle-double-right"></i>Gaaffii</a></li>
					<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Akkamin Jalqabu</a></li>
					<li><a routerLink="/suursagalee" routerLinkActive="active"><i
								class="fa fa-angle-double-right"></i>Suur-sagalee</a></li>
								<li><a routerLink="/nuquunnamaa" routerLinkActive="active"><i
									class="fa fa-angle-double-right"></i>Nu quunnamaa</a></li> -->
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <!-- <h5>Hidhaa Gabaaboo</h5> -->
                <ul class="list-unstyled quick-links">
                    <!-- <li><a routerLink="/wiirtuu" routerLinkActive="active"><i
								class="fa fa-angle-double-right"></i>Wiirtuu</a></li>
					<li><a routerLink="/waayeekeenya" routerLinkActive="active"><i
								class="fa fa-angle-double-right"></i>Waa'ee Keenya</a></li> -->
                    <!-- <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Gaaffii</a></li>
					<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Akkamin Jalqabu</a></li> -->
                    <!-- <li><a routerLink="/suursagalee" routerLinkActive="active"><i
								class="fa fa-angle-double-right"></i>Suur-sagalee</a></li>
								<li><a routerLink="/nuquunnamaa" routerLinkActive="active"><i
									class="fa fa-angle-double-right"></i>Nu quunnamaa</a></li> -->
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Hidhaa Gabaaboo</h5>
                <ul class="list-unstyled quick-links">
                    <!-- <li><a routerLink="/wiirtuu" routerLinkActive="active"><i
								class="fa fa-angle-double-right"></i>Wiirtuu</a></li> -->
                    <!-- <li><a routerLink="/waayeekeenya"><i class="fa fa-angle-double-right"></i>Waa'ee Keenya</a></li>
					<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Gaaffii</a></li>
					<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Akkamin Jalqabu</a></li> -->
                    <li><a routerLink="/oduutech" routerLinkActive="active"><i
								class="fa fa-angle-double-right"></i>Suur-sagalee</a></li>
                    <li><a routerLink="/nuquunnamaa" routerLinkActive="active"><i
								class="fa fa-angle-double-right"></i>Nu quunnamaa</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://www.facebook.com/africateck"><i
								class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/sanyiileenco"><i
								class="fa fa-instagram"></i></a></li>

                    <li class="list-inline-item"><a href="https://twitter.com/sanyiileenco"><i
								class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCEYgUk8YSAlMxXlHfehuimA"><i
								class="fa fa-youtube-play"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6">&copy; 2019 - {{ dates | date:'yyyy' }} Agartuu All right reserved.<a class="text-green ml-2" href="https://www.Agartuu.com" target="_self">Agartuu</a></p>
            </div>
        </div>
    </div>
</section>
<!-- ./Footer -->