<div class="container-f">
    <div class="row">
        <div class="col-md-3" style="padding: 10px;">
            <app-gabaa></app-gabaa>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="service-single img">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=Agartuu-20&marketplace=amazon&region=US&placement=1533498628&asins=1533498628&linkId=417571c33c48c2feb5c3d2a859e8afae&show_border=true&link_opens_in_new_window=false&price_color=c70808&title_color=000000&bg_color=ffffff">
                        </iframe>
                        <p><a target="_self" href="https://www.amazon.com/gp/product/1533498628/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1533498628&linkCode=as2&tag=Agartuu-20&linkId=20f2fc2069081f12f234787d5079f33e">Odaa
                                Jala</a>
                        </p>


                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="service-single">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=Agartuu-20&marketplace=amazon&region=US&placement=1650436165&asins=1650436165&linkId=aacee97e5083a5b1513d4a5ac348117d&show_border=true&link_opens_in_new_window=false&price_color=c70808&title_color=000000&bg_color=ffffff">
                        </iframe>
                        <p><a target="_self" href="https://www.amazon.com/gp/product/1650436165/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1650436165&linkCode=as2&tag=Agartuu-20&linkId=e8638d6778dd5a210bb54804d5d7bcc0">EENYU
                                SIIN JEDHU? </a></p>

                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12 ">
                    <div class="service-single">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=Agartuu-20&marketplace=amazon&region=US&placement=1946057207&asins=1946057207&linkId=5e637b5a6bc910ca764fd10331373d2f&show_border=true&link_opens_in_new_window=false&price_color=c70808&title_color=000&bg_color=ffffff">
                        </iframe>
                        <p><a target="_self" href="https://www.amazon.com/gp/product/1946057207/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1946057207&linkCode=as2&tag=Agartuu-20&linkId=649b3473b467dd3d75bad1466b902b3c">
                                Lukkuu Diimtuu Xiqqoo </a></p>


                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="service-single">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=Agartuu-20&marketplace=amazon&region=US&placement=9004258132&asins=9004258132&linkId=3fef29f0900e9e63a41dc09c1e0dbb79&show_border=true&link_opens_in_new_window=false&price_color=c70808&title_color=000000&bg_color=ffffff">
                        </iframe>
                        <p><a target="_self" href="https://www.amazon.com/gp/product/9004258132/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=9004258132&linkCode=as2&tag=Agartuu-20&linkId=4200d587ed00b3355828df0951c8b8a6">Conquest
                                and Resistance </a></p>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="service-single img">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=Agartuu-20&marketplace=amazon&region=US&placement=1569021392&asins=1569021392&linkId=c2e6a17dc73e43b5bc0a384482cfa158&show_border=true&link_opens_in_new_window=false&price_color=c70808&title_color=000000&bg_color=ffffff">
                        </iframe>
                        <p><a target="_self" href="https://www.amazon.com/gp/product/1569021392/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1569021392&linkCode=as2&tag=Agartuu-20&linkId=4373911ed2750eef42d505e9aeb71c07">Oromo
                                Democracy</a></p>

                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="service-single">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=Agartuu-20&marketplace=amazon&region=US&placement=1847011616&asins=1847011616&linkId=a054326543e0fbc6832eae4a69a63593&show_border=true&link_opens_in_new_window=false&price_color=c70808&title_color=000000&bg_color=ffffff">
                        </iframe>
                        <p><a target="_self" href="https://www.amazon.com/gp/product/1847011616/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1847011616&linkCode=as2&tag=Agartuu-20&linkId=9a9b4c2dd590a8076738aca1a0cd630e">The
                                Oromo and the Christian Kingdom </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12 ">
                    <div class="service-single">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=Agartuu-20&marketplace=amazon&region=US&placement=1537195212&asins=1537195212&linkId=18afaa0f863b12b1e0f138c83bc8a816&show_border=true&link_opens_in_new_window=false&price_color=c70808&title_color=000&bg_color=ffffff">
                        </iframe>
                        <p><a target="_self" href="https://www.amazon.com/gp/product/1537195212/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1537195212&linkCode=as2&tag=Agartuu-20&linkId=f337b3268eb03ef6f0261fe8ae923557">
                                My First Oromo Dictionary</a></p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="service-single">
                        <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=Agartuu-20&marketplace=amazon&region=US&placement=1946057010&asins=1946057010&linkId=0a54dcd2af7ff950b110854f5493cbf7&show_border=true&link_opens_in_new_window=false&price_color=c70808&title_color=000&bg_color=ffffff">
                        </iframe>
                        <!-- <h6>Meeshaalee Electronics</h6> -->
                        <p><a target="_self" href="https://www.amazon.com/gp/product/1946057010/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1946057010&linkCode=as2&tag=Agartuu-20&linkId=94334f1c3b3a2bfefbf07a66f61f586d">Qubee
                                Afaan Oromoo</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>