<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <app-gabaa>

            </app-gabaa>
        </div>
        <div class="col-md-3" id="card">
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=Agartuu-20&marketplace=amazon&region=US&placement=1569021392&asins=1569021392&linkId=c2e6a17dc73e43b5bc0a384482cfa158&show_border=true&link_opens_in_new_window=false&price_color=c70808&title_color=000000&bg_color=ffffff">
            </iframe>
            <p><a target="_self" href="https://www.amazon.com/gp/product/1569021392/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1569021392&linkCode=as2&tag=Agartuu-20&linkId=4373911ed2750eef42d505e9aeb71c07">Oromo
                    Democracy: An Indigenous African Political System</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=Agartuu-20&l=am2&o=1&a=1569021392" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></p>
        </div>
        <div class="col-md-3" id="card">


        </div>
        <div class="col-md-3" id="card">

        </div>


    </div>


</div>