<div class="container">


 
    <div class="row">
      <div class="col-md-6">
        <h5 style="text-align: center;">Dhiigni Keenya tokkuma</h5>
<pre>
Bara bineensi lagaayyuu
Wajjin jiraatu keessa
Doofaan barri hin jijjiirre
Daakuu jibbaa bukeessa…
Abjuudhaan samii yaabee
Qilleensa elmuu fedha
"Yoo nyaata koof hin taane"
Margi hin biqiliin jedha!
Warqee borii lagatee
Dhoqqee kaleessaa yaada
Qolee namaa yaabbatee
ttiin deemuu barbaada...
          ~
Nutoo dhaloota keenyaaf
Haaloofi jibba kuufnaaree?
Karaa ormi yaadu yaadnee
Qixxeesaatti of buufnaaree?
Lakkii, "Irbuu Shiniggaa"
Hin dagannu gonkumaa
Amantaan gargar taanus
Dhiigni keenya tokkuma!

</pre>
      </div>
    </div>
  
</div>