<div class="container">
    <div class="row">
        <div class="col-md-12">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({
                    google_ad_client: "ca-pub-1311691089580236",
                    enable_page_level_ads: true
                });
            </script>
        </div>
    </div>
    <div class="row">


        <div class="col-md-12">
            <h2 id="mainContent"> {{ headerTitle }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Agartuun marsariitii (Website) odeeffannoo wayitawaa teekinoloojii waliin walqabate garaagaraa wallitti funanuu fi qindeessuun afaan Oromootti hiikuun ummata oromoof dhiheessa. Ergamni Agartuu Afaan Oromoo afaan teekinooloojii taasisuufi uummata
                Oromoo Oromiyaa fi Adunyaa biraa irra jiraatu bu’aalee teekinoolojii guyyaa guyyaati kalaqaman argaafi dhageettiin gahuudha. Agartuu toora <a href="https://www.youtube.com/channel/UCEYgUk8YSAlMxXlHfehuimA"> youtube <i
                        style="color: red; font-weight: bold;" class="fa fa-youtube-play"></i> </a> kan qabu yoo ta’u toora kana irratti bu’alee teekinooloojii torban torbaniin Adunyaa kana irratti uumaman walitti qindeessuun sur-sagaleen (Audio & Video)
                dhan hordoftoota isaaf ni dhiheessa. Karaa miidiyaa hawwaasummaa nu hordofuun kaayyoo dhaabanneef akka tumsitan jenna. </p>
            <p style="text-align: center;"> <a href="https://www.facebook.com/africateck" target="_blank" class="btn-social btn-facebook"><i
                        class="fa fa-facebook"></i></a> &nbsp;
                <a href="https://www.instagram.com/sanyiileenco/" target="_blank" class="btn-social btn-instagram"><i
                        class="fa fa-instagram"></i></a> &nbsp;
                <a href="https://twitter.com/sanyiileenco" target="_blank" class="btn-social btn-twitter"><i
                        class="fa fa-twitter"></i></a>&nbsp;
                <a href="https://www.youtube.com/channel/UCEYgUk8YSAlMxXlHfehuimA" target="_blank" class="btn-social btn-youtube"><i class="fa fa-youtube-play"></i></a>

            </p>



        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../assets/service.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> {{ ourService }} </h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Odeeffannoo wayitawaa dhiheessuu.</li>
                        <li class="list-group-item">Aadaafi Afaan Oromoo Idil Adunyaatti beeksisuu.</li>
                        <li class="list-group-item">Gabaa online Oromoon irratti daldalatu uumuu. </li>
                        <li class="list-group-item">Sochii gama Teekinooloojiitiin ta'u deeggaruu.</li>
                        <li class="list-group-item">Aartii Oromoo Idil Adunyaatti beeksiisuufii raabsuu.</li>
                    </ul>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../assets/mission.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> {{ ourMission }} </h5>
                    <p class="card-text">
                        Odeeffannoo wayitawaa teekinooloojii waliin walqabatan Idil Adunyaa irraa waliitti qindeessuun Ijaafi gurra uummata Oromoo biraan gahuu. Gama biraatiin Afaan Oromoo akka adunyaatti afaanota biroo waliin gama hundaan akka dorgomuu danda'u tattaaffii gochuudha.
                    </p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../../assets/vision.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> {{ ourVision }} </h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Afrikaa Oromoon boontu arguu</li>
                        <li class="list-group-item">Afaan Oromoo Afaan Teekinooloojii taasisuu</li>
                        <li class="list-group-item">Qeerroofi Qarree Teekinooloojii kalaqu heedduu arguu </li>
                        <li class="list-group-item">Oromiyaa Teekinooloojiin deggaramte ijaaruu</li>
                        <li class="list-group-item">Oromiyaa diijitalized taate arguu</li>
                        <li class="list-group-item">Oromiyaa handhuura Teekinoolojii Afrikaa taate arguu</li>
                    </ul>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>

        </div>
    </div>
</div>