<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button routerLink="/kitaaba" class="btn btn-link" type="button" data-toggle="collapse"
          data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <i class="fa fa-chevron-down"> &nbsp;</i>
          Kitaaba(Books)
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <button routerLink="/asoosama" class="list-group-item list-group-item-action" id="list-profile-list"
        data-toggle="list" role="tab" aria-controls="profile">Asoosama (Fiction)</button>
      <button routerLink="/walaloo" class="list-group-item list-group-item-action" id="list-messages-list"
        data-toggle="list" role="tab" aria-controls="messages">Walaloo (Poem)</button>
      <button routerLink="/seenaa" class="list-group-item list-group-item-action" id="list-settings-list"
        data-toggle="list" role="tab" aria-controls="settings">Seenaa (History)</button>
      <button routerLink="/siyaasa" class="list-group-item list-group-item-action" id="list-settings-list"
        data-toggle="list" role="tab" aria-controls="settings">Siyaasa
        (Politics)</button>
      <button routerLink="/kitaaba-ijoollee" class="list-group-item list-group-item-action" id="list-settings-list"
        data-toggle="list" role="tab" aria-controls="settings">Ijoolleef</button>
    </div>
  </div>
</div>
<p></p>
<div class="collapse2" id="collapse2">
  <div class="list-group" id="list-tab" role="tablist">
    <button routerLink="/uffata-aadaa" class="list-group-item list-group-item-action" id="list-profile-list"
      data-toggle="list" role="tab" aria-controls="profile">Uffata Aadaa</button>
    <!-- <button routerLink= "/electronics"class="list-group-item list-group-item-action"
            id="list-messages-list" data-toggle="list" role="tab" aria-controls="messages">Electronics</button> -->
    <button routerLink="/meeshaa-aadaa" class="list-group-item list-group-item-action" id="list-settings-list"
      data-toggle="list" role="tab" aria-controls="settings">Meeshaalee
      Aadaa</button>
  </div>
</div>