<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <a target="_self" href="https://www.amazon.com/gp/product/B07WF4F2B7/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07WF4F2B7&linkCode=am2&tag=Agartuu-20&linkId=399aeeea3b9a6e1224feaf59267974e8"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B07WF4F2B7&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=Agartuu-20"></a>
                    </div>
                    <div class="card-body">
                        <p id="album-card">Galaanaa Gaaromsaa </p>
                        <p> <b>Baallii <i>(13 track)</i></b></p>
                        <br/>
                        <a href="https://www.amazon.com/gp/product/B07WF4F2B7/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07WF4F2B7&linkCode=am2&tag=Agartuu-20&linkId=399aeeea3b9a6e1224feaf59267974e8" style="width: 100%;" class="btn btn-danger">$8.99 | Bitadhu</a>
                    </div>
                </div>
                <div class="card-footer">
                    <audio controls style="width: 100%;">
                        <source src="https://audio-ssl.itunes.apple.com/itunes-assets/AudioPreview113/v4/95/e6/52/95e65282-44a8-0587-cd4d-cd2b0547ce1e/mzaf_2265851351822404992.plus.aac.p.m4a type="audio/ogg">
                        <source src="https://audio-ssl.itunes.apple.com/itunes-assets/AudioPreview113/v4/95/e6/52/95e65282-44a8-0587-cd4d-cd2b0547ce1e/mzaf_2265851351822404992.plus.aac.p.m4a" type="audio/mpeg">
                      </audio>
                </div>
            </div>
        </div>

    </div>
</div>