<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <app-gabaa></app-gabaa>
        </div>

        <div class="col-md-3" id="card">
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=Agartuu-20&marketplace=amazon&region=US&placement=9004258132&asins=9004258132&linkId=3fef29f0900e9e63a41dc09c1e0dbb79&show_border=true&link_opens_in_new_window=false&price_color=c70808&title_color=000000&bg_color=ffffff">
            </iframe>
            <p><a target="_self" href="https://www.amazon.com/gp/product/9004258132/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=9004258132&linkCode=as2&tag=Agartuu-20&linkId=4200d587ed00b3355828df0951c8b8a6">Conquest
                    and Resistance in the Ethiopian Empire, 1880 - 1974: The Case of the Arsi Oromo (African Social
                    Studies)</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=Agartuu-20&l=am2&o=1&a=9004258132" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></p>
        </div>
        <div class="col-md-3" id="card">
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=Agartuu-20&marketplace=amazon&region=US&placement=1847011616&asins=1847011616&linkId=a054326543e0fbc6832eae4a69a63593&show_border=true&link_opens_in_new_window=false&price_color=c70808&title_color=000000&bg_color=ffffff">
            </iframe>
            <p><a target="_self" href="https://www.amazon.com/gp/product/1847011616/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1847011616&linkCode=as2&tag=Agartuu-20&linkId=9a9b4c2dd590a8076738aca1a0cd630e">The Oromo and the Christian Kingdom of Ethiopia: 1300-1700 (Eastern Africa Series)</a><img
                    src="//ir-na.amazon-adsystem.com/e/ir?t=Agartuu-20&l=am2&o=1&a=1847011616" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></p>

        </div>
        <div class="col-md-3" id="card">

        </div>


    </div>


</div>