<div class="container">
    <div class="col-md-6">

        <h5 style="text-align: center;"> Dubadhu Maaliif Jettu?</h5>
        <pre>
Dubbannaan wanta haaraa
Maal narraa dhaga'uufi?
Mar'umaan xiiqii qabu
Onnee dhugaaf na'uufi
Kan dubbatamee darbe
Dubbiin durii hin ga'uufii?
Kan garaa garaa haa taa'u
Yoo taa'es maal abbaasaa
Dubbataa dachee guute
Dubbadhee maalan baasa?
Boroo naanna'e malee
Gaafa dhiphinaafi naasuu
Yoom dhabne gaafa dubbii
Kan dhukkee lafaa kaasu...
Dubbiin duumessa miti
Harkisee hin fidu bokkaa
Utuu dubbiin 
waa jijjiiree silaa funyaan godaanee
Ollaa afaaniidhaa sokka!
~
Utuu laagaa tarsaanee
Sagaleen nu lallabuu
Biqiltuu seenaa cirree
Bulla taanaan agabuu
Afaaniin nadhii roobuun
Maali bu'aanni qabu?
~
Meellannaafi caba yaadaa
Dhadhaabbataan hokkollee
Erga ol fuunee dubbannaan
Dubbachuun keenya hin tollee
Akka ofii dubbannutti
Ofumaayyuu erga hin bullee,
Erga habaqii barbaacha
Callaa lafatti dhiifnee
"Ka'i" utuu namaan jennuu
Ofii keenyaa erga ciisnee,
Erga qajeelummaan onee
Safuun karaarraa maqee
Erga kabajni badee
Tuffiin nurratti hanqaaqee,
Erga waliif yaaduun hafee
Ofittummaan onnatee
Erga sobniifi geegaboon
Haqa karaa dhowwatee...
Erga wanti dubbatamu
Onnee keenya hin jijjiirree
Dubbataan dachee guutee
Dhaga'aan erga hin jirre...
Maal godhaan dubbadharee
Mataa bowwuu ofiif kaa'uu
Arraba koo gudunfee
Afaan qabadhee hin taa'uu?
  </pre>
    </div>
</div>