<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 id="mainContent"> {{ headerTitle }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-8">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/zhnL0mYLOHs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-4">
            <app-hidhaa-dabalataa></app-hidhaa-dabalataa>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5 class="featureContent">Agarsiisa Tesla Cybertruck </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Teeslaan dhaabbata Konkoolaata Electrikaan deeman oomishuun kan beekamu yoo ta'u kanaan dura konkoolaataa electrikaan deemaan oomishee gabaadhaaf kan dhiheesse yoo ta'u. barana ammoo konkolaataa guddaa kan Cybertruck jedhamu oomishee agarsiisaaf
                dhiheesseera. Konkolaataan kun gosa motoraa sadiin kan oomishame yoo ta'u. Kan Motora tokkoo(Single Motor), Kan Motora lamaa(Dual motors) fi kan Motora sadii (Tri Motors).

            </p>
            <p>

                Saffiisni konlolaataa kanaa konkolaa sport (Sports Cars) waliin kan wal madaalu ta'ee. Ariitii Zeroo irraa ka'ee Kiloomeetira 97 gahuuf secondi 6 fi walakkaa qofa itti fudhata. Dabalataaniis Dandeettii Soolarii irraa humna fudhachuu ni qaba. Jabinni Qaamaa
                isaa yeroo konkolaatotta biroo waliin madaalamu baay'ee jabaataafi kan rasaasni keessa hin baane jedhamee yaadama.



            </p>

            Gatiin konkolaataa kanaa Doolaara kuma 39000 irraa jalqaabuu yoo ta'u. Konkolaataa kana ajajuuf doolara 100 qofa kaffaluutu sinirraa eegama. Bara 2021 irraa eegalee akka maamiltootaaf dhiheessus waadaa galee jira
            <div class="col-md-4">
                <ul>
                    <li>Kan Motora Tokkoo $39900 </li>
                    <li> Kan Motora Lamaa $49900</li>
                    <li> Kan Motora Sadii $69900</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Tesla Cybertruck</h3>
            <img class="img-responsive" src="../../assets/cybertruck.jpg" alt="Suura Konkolaataa cyberTruck" style="max-width: 100%;">
            <p>Odeeffanno dabalaataaf Marasariitii kana fayyadamaa <a href="https://www.tesla.com/cybertruck/"> Tesla Cyber Truck</a></p>
        </div>

    </div>
</div>