<div class="container">
    <div class="row">
        <div class="signup-form">
            <form [formGroup]="signUp" (ngSubmit)="onSubmit()">
                <h2>Create an Account</h2>
                <p class="hint-text">Sign up with your social media account or email address</p>
                <div class="social-btn text-center">
                    <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-facebook"></i> Facebook</a>
                    <a href="#" class="btn btn-info btn-lg"><i class="fa fa-twitter"></i> Twitter</a>
                    <a href="#" class="btn btn-danger btn-lg"><i class="fa fa-google"></i> Google</a>
                </div>
                <div class="or-seperator"><b>or</b></div>
                <div class="form-group">
                    <input type="text" class="form-control input-lg" formControlName="firstName" placeholder="First Name" required [ngClass]="{ 'is-invalid': myForm.firstName.touched && myForm.firstName.errors }">
                    <div *ngIf="myForm.firstName.touched && myForm.firstName.errors" class="invalid-feedback">
                        <div *ngIf="myForm.firstName.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-lg" formControlName="lastName" placeholder="Last Name" required [ngClass]="{ 'is-invalid': myForm.lastName.touched && myForm.lastName.errors }">
                    <div *ngIf="myForm.lastName.touched && myForm.lastName.errors" class="invalid-feedback">
                        <div *ngIf="myForm.lastName.errors.required">Last Name is required</div>
                    </div>
                </div>
                <div class="form-group ">
                    <input type="email " class="form-control input-lg " formControlName="email" placeholder="Email Address " required [ngClass]="{ 'is-invalid': myForm.email.touched && myForm.email.errors }">
                    <div *ngIf="myForm.email.touched && myForm.email.errors" class="invalid-feedback">
                        <div *ngIf="myForm.email.errors.required">Email is required</div>
                    </div>
                </div>
                <div class="form-group ">
                    <input type="password " class="form-control input-lg " formControlName="password" placeholder="Password " required [ngClass]="{ 'is-invalid': myForm.password.touched && myForm.password.errors }">
                    <div *ngIf="myForm.password.touched && myForm.password.errors" class="invalid-feedback">
                        <div *ngIf="myForm.password.errors.required">password is required</div>
                        <div *ngIf="myForm.password.errors.minlength">Password must be at least 6 characters</div>

                    </div>
                </div>
                <div class="form-group ">
                    <input type="password " class="form-control input-lg " formControlName="confirmPassword" placeholder="Confirm Password " required [ngClass]="{ 'is-invalid': myForm.confirmPassword.touched && myForm.confirmPassword.errors }">
                    <div *ngIf="myForm.confirmPassword.touched && myForm.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="myForm.confirmPassword.errors.required">Confirm password required</div>
                        <div *ngIf="myForm.confirmPassword.errors.mustMatch">Passwords must match</div>

                    </div>


                </div>
                <button type="submit " class="btn btn-success btn-lg btn-block signup-btn ">Sign Up</button>
            </form>
            <div class="text-center ">Already have an account? <a href="/seeni ">Login here</a></div>
        </div>
    </div>
</div>