<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 id="mainContent"> {{ headerTitle }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-lg-8">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ceIhJtreSHE"  frameborder="0" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-4">
      <app-hidhaa-dabalataa></app-hidhaa-dabalataa>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5 class="featureContent">Maashina Qillensarratti Meeshaa Baatu </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Levitating machine(Maashina Qillensarrati Meesha Baatu).Dunkaanooni gurguddoon kophee gurguran yeroo bay'ee qophee isaanii
        maamiltoota isaaniitti agariisuuf waan hedduu fayyadamu. Isaan keessaa inni tokko Maashina Qillensarrati Meeshaa Baatu(Levitating)
        dha. Mashiniin kun kan maagneettin hojjetuu yoo ta'u yeroo kophee irra kaayamu kana naannessu humna Magneettaa kan kophee keessa 
        taa'uu fi humna maagneettaa kan maashinichi ofii isaan qabuuni. 
        
      </p>
      <p>
    
       Kopheen kun dhaabbattoota garaagaraan kan oomishamu yoo ta'u qarshii doolara Ameerikaa $150 irraa egalee ni argama.
 
      </p>

    

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Levitating Machine</h3>
      <img class="img-responsive" src="../../assets/levitating-machine.jpg" alt="Suura Maashina Meeshaa Qillensarrati naannessuu" style="max-width: 100%;">
       </div>
   
  </div>
</div>