<head>
    <meta charset="utf-8">
    <title>Agartuu</title>
    <!-- twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="Agartuu">
    <meta name="twitter:title" content="Agartuu">
    <meta name="twitter:description" content="Agartuun marsariitii (Website) odeeffannoo wayitawaa teekinoloojii waliin walqabate garaagaraa wallitti funanu fi qindeessuun afaan oromootti hiikuun ummata oromoof dhiheessuudha.
    Agartuu jechi jedhu jecha lama irraa kan ijaarame yoo ta’u innis “Afrikaa” fi “Technology” dha">
    <meta name="twitter:image" content="https://www.agartuu.com/assets/MyLogo.png">

    <!-- facebook and other social sites -->
    <meta property="og:type" content="Agartuu">
    <meta property="og:site_name" content="Agartuu">
    <meta property="og:title" content="Agartuu">
    <meta property="og:description" content="Agartuun marsariitii (Website) odeeffannoo wayitawaa teekinoloojii waliin walqabate garaagaraa wallitti funanu fi qindeessuun afaan oromootti hiikuun ummata oromoof dhiheessuudha.
   Agartuu jechi jedhu jecha lama irraa kan ijaarame yoo ta’u innis “Afrikaa” fi “Technology” dha">
    <meta property="og:image" content="https://www.agartuu.com/assets/MyLogo.png">
    <meta property="og:url" content="https://www.agartuu.com/iphone-warqii">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 id="mainContent"> {{ headerTitle }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-8">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/LhTLrlrcXWY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-4">
            <app-hidhaa-dabalataa></app-hidhaa-dabalataa>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5 class="featureContent">Iphone Warqii irraa hojjetame</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                Smart phone hedduun isaanii kanaan dura dhaabbilee garaagaraan tolfamnii gabaa irra akka jiran ni beekama. Haata'u malee Smart phone warqii irraa hojjetame baay'inaan kan hin jirreefii namoota heeddu biratti akka waan haarawaatti dubbatamuun isaa hin
                oolu. Ta'us garuu dhihoo kana dhaabbanii biyya raashiyaa tokko Iphone 11 pro fi Iphone 11 Pro Max irraatti warqii dhoobuun gabaadhaaf dhiheessee jira. Iphone kunniin Software fi Hardwaren isaanii kan Iphone biroo irraa adda miti. Garaagarummaa
                isaan qaban yoo jiraate Iphone kunniin dugda isanirraa Sa'aatii Analogy fi Warii qabaachuu isaaniiti.


            </p>
            <p>




            </p>

            Yeroo odeeffannoo kana Marsariitii(website) kana irratti maaxansu gatiin Iphone kanaa akkaa armaan gadiiti.
            <div class="col-md-4">

                <h3>Iphone 11 pro</h3>
                <ul>
                    <li>Storage 64GB Gatiin isaa $ 96920 </li>
                    <li> Storage 256GB Gatiin isaa $ 97240</li>
                    <li> Storage 512GB Gatiin isaa $ 97650</li>
                </ul>
                <h3>Iphone 11 pro Max </h3>
                <ul>
                    <li>Storage 64GB Gatiin isaa $ 114690 </li>
                    <li> Storage 256GB Gatiin isaa $ 115010</li>
                    <li> Storage 512GB Gatiin isaa $ 115420</li>
                </ul>


            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Caviar</h3>
            <img class="img-responsive" src="https://caviar.global/images/thumbnails/482/524/detailed/12/caviar_11pro_discovery_green_light_4_catalog.png" alt="Suura Iphone warqiin hojjematee" style="max-width: 100%;">
            <p>Odeeffanno dabalaataaf Marasariitii kana fayyadamaa <a href="https://caviar.global/thanksgiving/solarius-green-flash/"> Caviar website</a></p>
        </div>

    </div>
</div>