<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 id="mainContent"> {{ headerTitle }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-8">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/RutXeBeWGG4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-4">
            <app-hidhaa-dabalataa></app-hidhaa-dabalataa>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="featureContent">Roobootii Socho'aa Boston Dynamics </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Boston Dynamics Roobootiiwwan jiruuf jireenya ilma namaa deeggaran baay'ee hojjechuudhaan beekama. Roobootii kanaan dura dalagaman hedduun isaani hojiiwwan garaagaraa dalaguutti jiru. fakkeenyaaf Humna waraanaa keessatti meeshaa waraanaa baachuun
                karaa dheeraa deemuufi bakka humni waraana gahee haleeluuf rakkatutti Roobotonni kun gahaanii erga kannamee fi bakkaan gahuun beekamu.


            </p>
            <p>

                Dabalataanis warshaafi dukkaana gurguddaa keessati meeshaa tooraan naquun gargaarsa guddaa hojjechuun bekamu. Saffisni Roobootii tokkoo sa'aatii tokko keessatti meeshaa kaartooni 720 sa'aati tokko keessatti walqixxeessitee kaahuu dandeessi.

            </p>

            Roobootiin Atlaas jedhamtu immoo dandeetti Sport garaagaraa dalaguun beekamti. Utaaluu, galagaluufi haala rakkisaa ta'e keessattillee deemuun ergama kennameefii bakkaan gahuun beekamti.

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Boston Dynamics</h3>
            <img class="img-responsive" src="../../assets/atlas-robot.jpg" alt="Suura Roobootii bostondynamics" style="max-width: 100%;">
            <p>Odeeffanno dabalaataaf Marasariitii kana fayyadamaa <a href="https://www.bostondynamics.com"> Boston Dynamics</a></p>
        </div>

    </div>
</div>