<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <app-gabaa></app-gabaa>

        </div>
        <div class="col-md-3" id="card">
            <h5 class="card-title">Uffata Aadaa Oromoo</h5>
            <div class="card" id="shoppingImage">
                <img class="card-img-top" src="../../../assets/gabaa/meeshaa-aadaa/qabee.jpg" alt="Card image cap">
                <div class="card-body">
                    <a (click)="onBuy()" class="btn btn-primary" id="card">Bitadhu</a>
                </div>
            </div>
        </div>
    </div>