
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 id="mainContent"> {{ headerTitle }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-lg-8">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/jV0XfBAX2V0" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-4">
        <app-hidhaa-dabalataa></app-hidhaa-dabalataa>
     
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5 class="featureContent">Agarsiisa "Made by google" bara 2019</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>Google baranas akkuma bara kaanii bu'aa teekinooloojii garaagaraa agarsiisaaf dhiheesseerra isaan kessaa
         muraasni armaan gaditti tarrefamaniiru
        </p>
        <div class="col-md-2">
          <ul>
            <li> Google Earbuds</li>
            <li> Pixel book go</li>
            <li> Google Pixel 4 </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5 class="featureContent">Ruwaandaan Smart Phone Yeroo Jalqabaaf Oomishte</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>Dhaabbanni Ruwaandaa Maqaan isaa Mara jedhamu bilbila smart phone yeroo jalqabaaf gabaadhaaf dhiheesseerra.
          bilbilli Kunis Maraphone x fi MaraPhone Z kan jedhaman yoo ta'an halluu Sadiin gabaaf dhihaataniiru. Smart phone kunniin
          kan isaan hojjetan Android Operating System dha.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Bilbila MaraPhone </h3>
        <img class="img-responsive" src="../../assets/maraphonew.png" alt="Suura bilbila MaraPhone" style="max-width: 100%;">
        <p>Odeeffanno dabalaataaf Marasariitii kana fayyadamaa <a href="https://maraphones.com/">maraphone</a></p>
         </div>
     
    </div>
  </div>
