<div class="container-fluid">

    <div class="row">

        <div class="col-md-12">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({
                    google_ad_client: "ca-pub-1311691089580236",
                    enable_page_level_ads: true
                });
            </script>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="service-area">
        <div class="container">
            <!-- Animated content -->
            <div class="row">

                <section id="services" class="services section-bg">
                    <div class="container">
                        <div class="section-title aos-init aos-animate" data-aos="fade-up">
                            <h2>Tajaajila Keenya</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init" data-aos="fade-up">
                                <div class="icon-box icon-box-pink">
                                    <div class="icon"><i class="fa fa-music"></i></div>
                                    <h5 class="title"><a href="/aartii">Aartii Oromoo</a></h5>
                                    <p> <a href="/aartii">Aartii</a> fi Muuziqaa Artistoota keenya akka Oromoonni Adunyaa garaagaraa jiran argataniif bakka tokkotti qindeessuun Artistoota keenya cinaa dhaabanna.

                                    </p>

                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init" data-aos="fade-up" data-aos-delay="100">
                                <div class="icon-box icon-box-cyan">
                                    <div class="icon"><i style="color: red;" class="fa fa-user-md"></i></div>
                                    <h5 class="title"><a href="/fayyaa">Dhimma Fayyaa</a></h5>
                                    <p><a href="/fayyaa">Fayyaan</a> uummata keenyaa akka eegamu odeefannoo wayitaawaa qindeessuun dhiheessina </p>

                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon-box icon-box-green">
                                    <div class="icon"><i style="color: red;" class="fa fa-youtube-play"></i></div>
                                    <h5 class="title"><a href="/oduutech">Oduu tech</a></h5>
                                    <p>Adunyaan kalaqa Teekinooloojiin eessaa geesseetti? <a href="/oduutech">Oduu tech</a> Afaan Oromoon qindeessuun gurra fi Ija uummataa biraan gaha.</p>

                                </div>
                            </div>

                            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 aos-init" data-aos="fade-up" data-aos-delay="300">
                                <div class="icon-box icon-box-blue">

                                    <div class="icon"><i style="color: orange; font-weight: bold;" class="fa fa-shopping-cart"></i></div>
                                    <h5 class="title"><a href="/gabaa">Gabaa</a></h5>

                                    <p>Gatii madaalawaa Jiruu keessan madaalu <a href="/gabaa">Gabaa</a> Keenyaa argattu. Dhaaba gabaa Oromoo ammayya'eefi Teekinooloojiin deeggarame </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <br />
            <div class="row">
                <div class="col-xl-6 col-md-6 col-lg-7" data-aos="fade-right">
                    <img src="../../../assets/bokkuu.jpg" style="max-height: 708px;" class="img-fluid" alt="">
                </div>
                <div class="col-xl-6 col-md-6 col-lg-5 pt-5 pt-lg-0">
                    <div class="icon-box aos-init" data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-cube-alt"></i>
                        <h5><i style="color: green;" class="fa fa-check"></i> Aadaa fi Afaan</h5>
                        <p> Adaafi afaan oromoof dursa kennina. Afaanif <a href="/meeshaa-aadaa">Aadaa</a> Keenya otoo hin gadhiisiin teekinooloojii fayyadamuun Adunyaa dorgomna.
                        </p>

                    </div>

                    <div class="icon-box aos-init" data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-cube-alt"></i>
                        <h5><i style="color: green;" class="fa fa-check"></i> Gabaa Ammayyaa</h5>
                        <p> <a href="/gabaa">Gabaa</a> Oromoon itti gurguratuufi bitatu. Meeshaa Aadaa Oromoo, Barruu Oromoo fi Aartii Oromoo hunda gabaa tokkotti. Oomisha fi kalaqa Oromoo gabaa Idil-Adunyaatiif dhiheessina. </p>
                    </div>
                </div>
            </div>


            <!-- End Animated -->

            <br />
            <div class="row">
                <div class="col-xl-6 col-md-6 col-lg-7" data-aos="fade-left">
                    <img src="../../../assets/gabaa/meeshaa-aadaa/qabee.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-xl-6 col-md-6 col-lg-5 pt-5 pt-lg-0">
                    <h3 data-aos="fade-right" class="aos-init aos-animate"><i style="color: green;" class="fa fa-check"></i> Jiruu Ammayaa'e
                    </h3>
                    <p data-aos="fade-right" class="aos-init aos-animate">
                        Jireenya ammayyaa'en uummanni oromoo akka jiruusaa foyyefatu halkaniif guyyaa tajaajilla.
                    </p>
                    <div class="icon-box aos-init aos-animate" data-aos="fade-right">
                        <i class="bx bx-receipt"></i>
                        <h5><i style="color: green;" class="fa fa-check"></i>Odeefannoo Haqaa</h5>
                        <p>Odeefannoo dhugaa qofa olqabnee lallabna. Jaarraa Odeefannoo kana keessati oduu haqaafi oduu mirkanaaye qofa qindeessuun argaafi dhageetti uummata keenya biraan geenya.</p>
                    </div>

                    <!-- <div class="icon-box aos-init" data-aos="fade-right" data-aos-delay="100">
                        <i class="bx bx-cube-alt"></i>
                        <h5><i class="fa fa-plus-circle"></i>Ullamco laboris nisi</h5>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                    </div>

                    <div class="icon-box aos-init" data-aos="fade-right" data-aos-delay="200">
                        <i class="bx bx-cube-alt"></i>
                        <h5><i class="fa fa-plus-circle"></i>Ullamco laboris nisi</h5>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                    </div> -->

                </div>

            </div>
            <br />
            <div class="row">

                <section id="services" class="services section-bg">
                    <div class="container">
                        <!-- Enabled later when required -->
                        <!-- <div class="row">
                            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0 aos-init" data-aos="fade-up">
                                <div class="icon-box icon-box-pink">
                                    <h5 class="title"><a href="">Oduu Fuul-duree </a></h5>
                                    <ul>
                                        <li><a routerLink="/fayyaa">Dhukkuba Koronaa irraa of eeguuf</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0 aos-init" data-aos="fade-up" data-aos-delay="100">
                                <div class="icon-box icon-box-cyan">
                                    <app-hidhaa-dabalataa></app-hidhaa-dabalataa>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0 aos-init" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon-box icon-box-green">
                                    <div class="icon"><i class="fa fa-tachometer"></i></div>
                                    <h5 class="title"><a href="">Magni Dolores</a></h5>
                                    <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim</p>
                                </div>
                            </div>
                        </div> -->
                        <div class="section-title aos-init aos-animate" data-aos="fade-up">
                            <h2 class="text-black h1 site-section-heading text-center">Si'achii Agartuu </h2>
                            <p class="lead">Agartuun Odeeffanno Wayitaawaa Kennuun Uummata Oromoo Teekinooloojii Waliin qixxee akkaa tarkanfatu ni tattaafata
                            </p>
                        </div>
                    </div>
                </section>
            </div>
            <br />
        </div>
    </div>
</div>

<!-- Back to top -->
<!-- <a href="#" class="back-to-top" style="display: inline;"><i class="fa fa-angle-double-up"></i></a> -->