<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <app-gabaa></app-gabaa>
        </div>

        <div class="col-md-3" id="card">
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=Agartuu-20&marketplace=amazon&region=US&placement=1946057207&asins=1946057207&linkId=5e637b5a6bc910ca764fd10331373d2f&show_border=true&link_opens_in_new_window=false&price_color=c70808&title_color=000&bg_color=ffffff">
            </iframe>
            <p><a target="_self" href="https://www.amazon.com/gp/product/1946057207/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1946057207&linkCode=as2&tag=Agartuu-20&linkId=649b3473b467dd3d75bad1466b902b3c">
                    Lukkuu Diimtuu Xiqqoo - The little Red Hen </a><img src="//ir-na.amazon-adsystem.com/e/ir?t=Agartuu-20&l=am2&o=1&a=1946057207" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></p>


        </div>
        <div class="col-md-3" id="card">
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=Agartuu-20&marketplace=amazon&region=US&placement=1677447117&asins=1677447117&linkId=e1f321d35f5eaa9a6a682d15afee0b7f&show_border=true&link_opens_in_new_window=false&price_color=c70808&title_color=000&bg_color=ffffff">
            </iframe>
            <p><a target="_self" href="https://www.amazon.com/gp/product/1677447117/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1677447117&linkCode=as2&tag=Agartuu-20&linkId=c5b01305fd2bf52b3e591b5f0b69e3c2">Yellow:
                    In English and Afaan Oromo</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=Agartuu-20&l=am2&o=1&a=1677447117" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></p>

        </div>
        <div class="col-md-3" id="card">
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=Agartuu-20&marketplace=amazon&region=US&placement=1537195212&asins=1537195212&linkId=18afaa0f863b12b1e0f138c83bc8a816&show_border=true&link_opens_in_new_window=false&price_color=c70808&title_color=000&bg_color=ffffff">
            </iframe>
            <p><a target="_self" href="https://www.amazon.com/gp/product/1537195212/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1537195212&linkCode=as2&tag=Agartuu-20&linkId=f337b3268eb03ef6f0261fe8ae923557">My
                    First Oromo Dictionary</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=Agartuu-20&l=am2&o=1&a=1537195212" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></p>

        </div>
    </div>

    <div class="row" style="text-align: center;">

        <div class="col-md-3">
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=Agartuu-20&marketplace=amazon&region=US&placement=1679719610&asins=1679719610&linkId=204cab10fff401ee3d89399dfa79ea69&show_border=false&link_opens_in_new_window=false&price_color=c70808&title_color=000&bg_color=ffffff">
            </iframe>
            <p><a target="_self" href="https://www.amazon.com/gp/product/1679719610/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1679719610&linkCode=as2&tag=Agartuu-20&linkId=28435e5e6ba758147928beb5145b925f">Chaos!:
                    How the Dog Got His Dinner in Afaan Oromo and English</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=Agartuu-20&l=am2&o=1&a=1679719610" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"
                /></p>


        </div>
        <div class="col-md-3">
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=Agartuu-20&marketplace=amazon&region=US&placement=3981799127&asins=3981799127&linkId=0bffd85fbd15d79b94f43982c60c326b&show_border=true&link_opens_in_new_window=false&price_color=c70808&title_color=000&bg_color=ffffff">
            </iframe>
            <p><a target="_self" href="https://www.amazon.com/gp/product/3981799127/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=3981799127&linkCode=as2&tag=Agartuu-20&linkId=a299c3927328927c956879425a8954cc">My
                    First Book of Afaan Oromo Words: English-Afaan Oromo wordbook</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=Agartuu-20&l=am2&o=1&a=3981799127" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"
                /></p>

        </div>
        <div class="col-md-3">
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=Agartuu-20&marketplace=amazon&region=US&placement=1946057010&asins=1946057010&linkId=0a54dcd2af7ff950b110854f5493cbf7&show_border=true&link_opens_in_new_window=false&price_color=c70808&title_color=000&bg_color=ffffff">
            </iframe>
            <p><a target="_self" href="https://www.amazon.com/gp/product/1946057010/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1946057010&linkCode=as2&tag=Agartuu-20&linkId=94334f1c3b3a2bfefbf07a66f61f586d">Qubee
                    Afaan Oromoo - Afaan Oromo Alphabet: Afaan Oromo Children's Book (Oromo Edition)</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=Agartuu-20&l=am2&o=1&a=1946057010" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"
                /></p>

        </div>
        <div class="col-md-3">
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=Agartuu-20&marketplace=amazon&region=US&placement=0369602021&asins=0369602021&linkId=17dc349964f7ae6bfd2a255e25c833aa&show_border=true&link_opens_in_new_window=false&price_color=c70808&title_color=000000&bg_color=ffffff">
            </iframe>
            <p><a target="_self" href="https://www.amazon.com/gp/product/0369602021/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0369602021&linkCode=as2&tag=Agartuu-20&linkId=393efeb7c50b1bf77fec7e6f436994e0">My
                    First Afaan Oromo Alphabets Picture Book with English Translations: Bilingual Early Learning &amp;
                    Easy
                    Teaching Afaan Oromo Books for Kids (Teach &amp; Learn Basic Afaan Oromo Words for Children)</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=Agartuu-20&l=am2&o=1&a=0369602021" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;"
                />

            </p>

        </div>

    </div>

    <div class="row" style="text-align: center;">


        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>


    </div>

</div>